@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&family=Unbounded:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive; */
}

.header {
    background-color: #3434344a;
    transition: 500ms;
    max-width: 100%;
}

.header.sticky {
    background-color: #343434;
}

.header h2 {
    color: #fff;
    font-family: 'Unbounded';
}

.header .navbar button{
    outline:none ;
    transition: 1s;
}

.header .navbar button:active{
    transition: 500ms;
    background-color: #00000065;
}

.header.sticky .navbar button:active{
    transition: 500ms;
    background-color: #000000bf;
}

.header.sticky .navbar button{
    outline: .2rem solid rgba(33, 33, 33, 0.333) ;
}

.header .navbar-nav button .navbar-toggler-icon {
    color: #fff;
}

.header .navbar-nav li {
    padding: 0 1rem;
}

.header .navbar-nav .active {
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.343);
    border-radius: 3rem;
}

.header.sticky .navbar-nav .active {
    background-color: rgb(0, 0, 0);
}

.header .navbar-nav li:hover {
    background-color: rgba(0, 0, 0, 0.343);
    border-radius: 3rem;
}

.header.sticky .navbar-nav li:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 3rem;
}

.header .navbar-nav li a {
    color: #fff;
}



/* Make the image fully responsive */
.carousel-inner {
    max-height: 100vh;
}



.main-heading {
    text-align: center;
    margin: 200px 0;
}

.main-heading p {
    font-size: 60px;
}

.main-heading .p1 {
    margin: 50px 0;
    font-size: 20px;
}



.explaination {
    max-width: 100%;
    display: flex;
    margin: 10rem 0;
}

.explaination .image {
    height: 100%;
    width: 100%;
}

.explaination .image img {
    height: 25em;
    width: 28em;
}

.explaination .image {
    height: 31rem;
}
  
.explaination .image0 .border0 {
    content: '';
    width: 26.5rem;
    height: 23rem;
    border: 10px solid rgba(0, 0, 0, 0.073);
    z-index: -1;
    transform: translate(-10%, -90%);
}
  
.explaination .image1 .border0 {
    content: '';
    width: 26.5rem;
    height: 23rem;
    border: 10px solid rgba(0, 0, 0, 0.073);
    z-index: -1;
    transform: translate(15%, -90%);
}

@media screen and (max-width: 991px) { 

    .explaination .image1 {
        margin: 10rem 0 2rem;
    }
    
    .explaination .image .border0 {
        width: 26.5rem;
        height: 23rem;
        transform: translate(15%, -90%);
    }    
    
    .explaination .content0 {
        padding-right: 0;
    }
    
    .explaination .content1 {
        padding-left: 0;
    }
}

@media screen and (max-width: 590px) {
    
    .explaination .image {
        height: 27rem;
    }

    .explaination .image img {
        height: 20em;
        width: 23em;
    }
    
    .explaination .image .border0 {
        width: 22rem;
        height: 19rem;
        transform: translate(15%, -88%);
    }

}

@media screen and (max-width: 500px) {
    
        .explaination .image {
            height: 21rem;
        }

    .explaination .image img {
        height: 17em;
        width: 20em;

    }
    
    .explaination .image .border0 {
        width: 19.3rem;
        height: 16rem;
        transform: translate(15%, -88%);
    }

}

@media screen and (max-width: 460px) {
    
    .explaination .image {
        height: 21rem;
    }

    .explaination .image img {
        height: 15em;
        width: 18em;

    }

    .explaination .image .border0 {
        width: 17.3rem;
        height: 14rem;
        transform: translate(15%, -88%);
    }

}

@media screen and (max-width: 420px) {
    
    .explaination .image {
        height: 21rem;
    }

    .explaination .image img {
        height: 13em;
        width: 15em;
    }

    .explaination .image .border0 {
        width: 14.5rem;
        height: 12rem;
        transform: translate(15%, -88%);
    }

}

.explaination.row {
    margin-left: 0;
    margin-right: 0;
}

.explaination [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.explaination .content0 {
    padding-right: 2.5rem;
}

.explaination .content1 {
    padding-left: 4.5rem;
}

.explaination .content .p0 {
    font-size: 35px;
    position: relative;
    padding-bottom: 1rem;
}

.explaination h2::before {
    content: ''; /* Specify content to make ::before work */
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    padding-top: 2rem;
    border-bottom: .5rem solid #149ddd; /* Specify border properties (style, width, and color) */
    width: 5rem;
    transition: width 2000ms ease-in-out, border-bottom 500ms ease-in-out;
} 

.explaination:hover h2::before {
  width: 100%;
  transition: width 1000ms ease-in-out, border-bottom 500ms ease-in-out;
}

.explaination:hover h2::before {
    width: 100%;
    transition: width 1000ms ease-in-out, border-bottom 500ms ease-in-out;
}

.explaination .content .p1 {
    font-size: 18px;
}

.explaination .content .p2 {
    line-height: 30px;
}

.explaination .col-12 .p-0 {
    padding: 0;
}
  


.container .row .card {
    border-radius: 1rem;
    height: 20rem;
}

.container .row .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.container .row .card .card-body .card-title {
    color: #04536b;
    font-family: 'Roboto';
}

.container .row .col-md-12 .card .card-body .card-title {
    font-size: 4rem;
}

.container .row .card .card-body .btn {
    color: #fff;
    background-color: #04536b;
    border: none;
    border-radius: 10rem;
}

.container .row .card .card-body .btn:active {
    background-color: #02303e;
}



footer .text-reset {
     color: #4e4e4e;
}